.nav {
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #ffcc00;
}


.rightSection {
  display: flex;
  align-items: center;
}

.rightSection .navList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
