/* ActivityLogPage.module.css */

.activityLogContainer {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.pageTitle {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.errorText {
  margin-bottom: 20px;
}

.tableContainer {
  max-height: 1000px;
}
