/* ActivityLogPage.module.css */

.activityLogContainer {
  padding: 20px;
}

.pageTitle {
  margin-bottom: 20px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.filterField {
  width: 200px;
}

.filterButton {
  height: 56px;
}

.errorText {
  margin-bottom: 20px;
}

.tableContainer {
  max-height: 600px;
}
